<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enrico.biella.gestione_ordinazioni">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icona_ordinazioni_arancione_192"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Camerieri"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GestioneComande"
            android:label="@string/title_activity_gestione_comande"
            android:parentActivityName=".Camerieri"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.enrico.biella.gestione_ordinazioni.Camerieri" />
        </activity>
        <activity
            android:name=".InserisciTavolo"
            android:label="@string/title_activity_inserisci_tavolo"
            android:parentActivityName=".GestioneComande"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.enrico.biella.gestione_ordinazioni.Camerieri" />
        </activity>
        <activity
            android:name=".InserisciServizi"
            android:label="@string/title_activity_inserisci_servizi"
            android:parentActivityName=".InserisciTavolo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.enrico.biella.gestione_ordinazioni.InserisciTavolo" />
        </activity>
        <activity
            android:name=".ScegliCategoria"
            android:label="@string/title_activity_scegli_categoria"
            android:parentActivityName=".InserisciServizi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.enrico.biella.gestione_ordinazioni.ElencoProdotti" />
        </activity>
        <activity
            android:name=".ScegliProdotto"
            android:label="@string/title_activity_scegli_prodotto"
            android:parentActivityName=".ScegliCategoria"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.enrico.biella.gestione_ordinazioni.ScegliCategoria" />
        </activity>
        <activity
            android:name=".ActivityProdotto"
            android:label="@string/title_activity_activity_prodotto"
            android:parentActivityName=".ScegliProdotto"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.enrico.biella.gestione_ordinazioni.ScegliProdotto" />
        </activity>
        <activity
            android:name=".ElencoProdotti"
            android:label="@string/title_activity_elenco_prodotti"
            android:parentActivityName=".InserisciTavolo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.enrico.biella.gestione_ordinazioni.InserisciTavolo" />
        </activity>
        <activity
            android:name=".ModificaProdotto"
            android:label="@string/title_activity_modifica_prodotto"
            android:parentActivityName=".ElencoProdotti"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.enrico.biella.gestione_ordinazioni.ElencoProdotti" />
        </activity>
        <activity
            android:name=".ElencoModifiche"
            android:label="@string/title_activity_elenco_modifiche"
            android:parentActivityName=".ModificaProdotto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScegliAggiunta"
            android:label="@string/title_activity_scegli_aggiunta"
            android:parentActivityName=".ElencoModifiche"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.enrico.biella.gestione_ordinazioni.ElencoModifiche" />
        </activity>
    </application>

</manifest>